.itemRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}

.itemWrap{
    width: 27vw;
}

.itemPhoto{
    width: 100%;
}

.title{
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 55px;
    font-family: viper-font;
    color: goldenrod;
}

.title:hover{
    animation: hueRotate 0.5s linear infinite;
    cursor: pointer;
}

.next{
    position: absolute;
    right: 3%;
    top: 3%;
}

@keyframes hueRotate{
    from{
        filter: hue-rotate(0);
    }
    to{
        filter: hue-rotate(360deg);
    }
}