.menuItemPhoto{
    /* width: 100%; */
    max-width: 100%;
    max-height: 40vh;
}

.menuItemTitle{
    font-size: 4vh;
    font-family: viper-font;
    text-align: center;
    color: goldenrod;
    white-space: nowrap;
}

@keyframes expand{
    from{
        width: 15%;
    }
    to{
        width: 25%;
    }
}

.menuItem{
    width: 15%;
    max-height: 50vh;
    transition: 0.05s linear;
    background: none;
    border: none;
}

@media (max-width: 991px){
    .menuItem{
        padding: 0;
        width: 100%;
        /* background-color:rgba(0, 0, 0, 0.3); */
        /* box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 1); */
        padding-bottom: 1rem;
    }
}

  .menuItem:hover{
    flex-grow: 0.65;
    cursor: pointer;
  }

  @keyframes hueRotate{
    from{
        filter: hue-rotate(0);
    }
    to{
        filter: hue-rotate(360deg);
    }
}