.menuItemPhoto{
    width: 100%;
    /* box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.3); */
}

.menuItemTitle{
    /* border: 5px solid green; */
    font-size: 4vh;
    font-family: viper-font;
    text-align: center;
    color: goldenrod;
    white-space: nowrap;
}

@keyframes expand{
    from{
        width: 15%;
    }
    to{
        width: 25%;
    }
}

.menuItem{
    width: 15%;
    padding-top: 1.8%;
    transition: 0.05s linear;
    background: none;
    border: none;
    /* border: 5px solid blue; */
  }
  .menuItem:hover{
    /* width: 22%; */
    flex-grow: 0.65;
    cursor: pointer;
    /* animation: hueRotate 0.5s linear infinite; */
    /* border: 5px solid blue; */
    /* animation: expand 1s linear; */
  }
  @keyframes hueRotate{
    from{
        filter: hue-rotate(0);
    }
    to{
        filter: hue-rotate(360deg);
    }
}