.lever{
    position: absolute;
    left: 2vw;
    top: 6vh;
    width: 12vw;
    height: 12vw;
    /* background-image: url(../images/leverUp.png); */
    transform: rotateY(180deg);
    background-size: cover;
    background-position: center;
    cursor: grab;
    /* border: 5px solid blue; */
}
