.background{
    background-image: url('../../images2/tlo5.jpg');
    background-size: 40vh;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}


.title{
    height: 100%;
}


.header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    height: 25vh;
    width: 100%;
    cursor: wait;
    border: none;
}
@media (orientation: portrait) {
    .header{
        height: 15vh;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.title:hover{
    animation: hueRotate 0.5s linear infinite;
}

@keyframes hueRotate{
    from{
        filter: hue-rotate(0);
    }
    to{
        filter: hue-rotate(360deg);
    }
}

.footer{
    position: absolute;
    color: rgba(240, 248, 255, 0.3);
    font-size: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10px;
}