.gallery{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
}

.backdrop{
    background-image: url('../../images2/tlo5.jpg');
    background-size: 50vh;
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: grayscale(150%) brightness(50%);
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: bottom 0.7s ease-in;
}

.button{
    right: 2%;
    top: 2%;
    position: absolute;
    font-family: viper-font;
    font-size: 60px;
    color: goldenrod;
    width: 60px;
    height: 60px;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 10;
    
}
.button:hover{
    animation: hueRotate 0.5s linear infinite;
}

.light1{
    position: absolute;
    right: 5vw;
    top: -5vw;
    width: 30vw;
    filter: brightness(90%);
    transform:  scale(1, -1);
}

.light2{
    position: absolute;
    left: 5vw;
    top: -5vw;
    width: 30vw;
    transform: rotateY(180deg) scale(1, -1);
    filter: brightness(90%);
}

.galleryAppear{
    opacity: 0;
}

.galleryAppearActive{
    opacity: 0;
}

.galleryEnter{
    transform: rotate(-90deg);
    transform-origin: left bottom;
}

.galleryEnterActive{    
    animation-name: hop-in;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(.59,0,1,.26);
    left: 0;
    bottom: 0;
    transform: rotate(0deg);
    transform-origin: left bottom;
    transition: all 0s linear;
    transition-delay: 1s;
}

.galleryEnterDone{
    left: 0;
    bottom: 0;
    transform: rotate(0deg);
    transform-origin: left bottom;
}

.galleryExit{
    bottom: 0;
}

.galleryExitActive{
    animation-name: drop-down;
    animation-duration: 1s;
    animation-timing-function:ease-in;
    bottom: -100vh;
    transition: bottom 0s linear;
    transition-delay: 1s;
}

.galleryExitDone{
    bottom: -100vh;
    opacity: 0;
}

@keyframes hop-in {
	0% {
        transform: rotate(-90deg);
        transform-origin: left bottom;
	}
    85% {
        transform: rotate(0deg);
        transform-origin: left bottom;
	}
    90% {
        transform: rotate(-5deg);
        transform-origin: left bottom;
	}
    100% {
        transform: rotate(0deg);
        transform-origin: left bottom;
	}
}

@keyframes drop-down {
	0% {
        bottom: 0;
	}
    10% {
        transform: rotate(3deg);
        transform-origin: left bottom;
        bottom: 0;
	}
    90% {
        transform: rotate(3deg);
        transform-origin: left bottom;
        bottom: 0;
	}
    100% {
        bottom: -100vh;
	}
}

@keyframes bounce-in {
    0%{bottom : 100vh}
    40%{bottom : 0}
    80%{bottom : 10vh}
    100%{bottom : 0}
}

@keyframes rotate-out {
    0%{
        transform-origin: top left;
    }
    25%{
        transform: rotate(65deg);
        transform-origin: top left;
    }
    45%{
        transform: rotate(30deg);
        transform-origin: top left;
    }
    60%{
        transform: rotate(45deg);
        transform-origin: top left;
    }
    75%{
        transform: rotate(45deg);
        transform-origin: top left;
        top: 0;
    }
    100%{
        transform: rotate(45deg);
        transform-origin: top left;
        top: 100vh;
    }
}

.title{
    height: 100%;
}

.titleButton{
    height: 20%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: wait;
    background: none;
    border: none;
    z-index: 15;
}

.title:hover{
    animation: hueRotate 0.5s linear infinite;
}

@keyframes hueRotate{
    from{
        filter: hue-rotate(0);
    }
    to{
        filter: hue-rotate(360deg);
    }
}

.footer{
    position: absolute;
    color: rgba(240, 248, 255, 0.3);
    font-size: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10px;
}

.next{
    position: absolute;
    right: 25vw;
    top: 60%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 100px;
    border: none;
    background: none;
    color:goldenrod;
    z-index: 11;

}

.previous{
    position: absolute;
    right: 25vw;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 100px;
    border: none;
    background: none;
    color:goldenrod;
    z-index: 11;
}

.previous:hover{
    animation: hueRotate 0.5s linear infinite;
}

.next:hover{
    animation: hueRotate 0.5s linear infinite;
}