.content{
    display: flex;
    flex-direction: row;
    padding: 8%;
    gap: 10%;
    align-items: center;
    /* border: 1px solid red; */
}

.left{
    width: 50%;
    opacity: 90%;
    filter: blur(0.5px);
    /* border: 1px solid red; */
}

.right{
    width: 50%;
    height: 50vh;
    opacity: 85%;
    text-align: center;
    overflow: scroll;
    /* border: 1px solid red; */
}

.title{
    font-family: viper-font;
    font-size: 50px;
    margin-top: -0.2vh;
}

.text{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    overflow: scroll;
}

.image{
    width: 100%;
}

.button{
    font-size: 60px;
    border: none;
    background: none;
    cursor: pointer;
    float: inline-end;
}
.button:hover{
    cursor: pointer;
}