
.book{
    position: absolute;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, 60%);
    /* border: 2px solid white; */
    bottom: 50%;
    width: 80vw;
    height:auto;
    background-image: url('../../images2/book.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.blog{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    /* transform: rotate(5deg);
    transform-origin: top left; */
}

.backdrop{
    background-image: url('../../images2/tlo5.jpg');
    background-size: 400px;
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: hue-rotate(216deg);
}

.button{
    right: 2%;
    top: 2%;
    position: absolute;
    font-family: viper-font;
    font-size: 60px;
    color: goldenrod;
    width: 60px;
    height: 60px;
    border: none;
    background: none;
    cursor: pointer;
    
}
.button:hover{
    animation: hueRotate 0.5s linear infinite;
}
.blogAppear{
    opacity: 0;
}

.blogAppearActive{
    opacity: 0;
}

.blogEnter{
    bottom: 100vh;
}

.blogEnterActive{    
    animation-name: bounce-in;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    bottom: 0;
}

.blogEnterDone{
    bottom: 0;
}
.blogExit{
    bottom: 0;
}
.blogExitActive{
    animation-name: rotate-out;
    animation-duration: 1.2s;
    animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
    bottom: -100vh;
    transition: bottom 0s linear;
    transition-delay: 1.2s;
}
.blogExitDone{
    bottom: -100vh;
    opacity: 0;
}



@keyframes bounce-in {
    0%{bottom : 100vh}
    40%{bottom : 0}
    80%{bottom : 10vh}
    100%{bottom : 0}
}

@keyframes rotate-out {
    0%{
        /* transform: rotate(0); */
        transform-origin: top left;
    }
    25%{
        transform: rotate(65deg);
        transform-origin: top left;
    }
    45%{
        transform: rotate(30deg);
        transform-origin: top left;
    }
    60%{
        transform: rotate(45deg);
        transform-origin: top left;
    }
    75%{
        transform: rotate(45deg);
        transform-origin: top left;
        top: 0;
    }
    100%{
        transform: rotate(45deg);
        transform-origin: top left;
        top: 100vh;
    }
}

.title{
    height: 100%;
}

.titleButton{
    height: 20%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: wait;
    background: none;
    border: none;
}

.title:hover{
    animation: hueRotate 0.5s linear infinite;
}

@keyframes hueRotate{
    from{
        filter: hue-rotate(0);
    }
    to{
        filter: hue-rotate(360deg);
    }
}

.footer{
    position: absolute;
    color: rgba(240, 248, 255, 0.3);
    font-size: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10px;
}

.next{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 100px;
    border: none;
    background: none;
    color:goldenrod;
    z-index: 11;

}
.previous{
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 100px;
    border: none;
    background: none;
    color:goldenrod;
    z-index: 11;
}
.previous:hover{
    animation: hueRotate 0.5s linear infinite;
}
.next:hover{
    animation: hueRotate 0.5s linear infinite;
}