.background{
    background-image: url('../../images2/tlo5.jpg');
    background-size: 50vh;
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

.title{
    height: 100%;
}

.titleButton{
    height: 30%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: wait;
    background: none;
    border: none;
}

.title:hover{
    animation: hueRotate 0.5s linear infinite;
}

@keyframes hueRotate{
    from{
        filter: hue-rotate(0);
    }
    to{
        filter: hue-rotate(360deg);
    }
}

.footer{
    position: absolute;
    color: rgba(240, 248, 255, 0.3);
    font-size: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10px;
}